/**********
Reset
***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********************
Variables
***********************/
:root{
    --dark-grey-icons:#b1b1b1;
    --dark-grey-text:#8b9191; 
    --light-grey-text:#b5c0d2

} 


/**********
Common
***********/
body{
    background: linear-gradient(to top,#dadbd3 85%, #009688 15%);
    font-family: 'Lato', sans-serif;
}

.display-none{
    display: none;
}
.pl10{
    padding-left: .625rem;
}
.pl20{
    padding-left: 1.25rem;
}
.pd10{
    padding-right: .625rem;
}
.mt15{
    margin-top: .9375rem;
}

.b-font{
    font-size: 1rem;
    font-weight: 600;
}

.select-contact{
    background-color: #e9ebeb;
}
/**********
Main
***********/
#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 100rem;
    background-color: lightblue;
    height: 95vh;
    display: flex;
    padding: 0;

}
/**********
Contacts
************/
.box-contacts{
    background-color:#fafafa;
    width: 560px;
    display: flex;
    flex-direction: column;
    

}
.header-contacts{
    background-color: #eaeaea;
    height: 4.6875rem;

}
.header-contacts .user{
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    justify-content: space-around;

}
.img-user img{
    width: 3.4375rem;
    border-radius: 50%;
    margin: .625rem 0;
}

/* .header-contacts .user .name-user{
    flex-grow: 1;
} */
.notification{
    height: 5.3125rem;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}
.bell{
    background-color: white;
    padding: .625rem;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bell i{
    font-size: 20px;
    color:#8edafc
}

.contacts-list{
    display: flex;
    flex-wrap: wrap; 
    overflow-y: auto;  
}
.search-bar{
    margin: .625rem;
}
#search-user{
    width: 100%;
    padding: .9375rem 1.25rem;


}
.contacts-list ul{
width: 100%;
}
.contacts-list .contact{
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
.img-contact img{
    width: 4.0625rem;
    border-radius: 50%;
    margin: .625rem 0;
}
.text-contact{
    flex-grow: 1;
}
/**********
Chat room
************/
.chat-room{
    background-color: pink;
    width: 100%;
}