/**********
Reset
***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

/**********************
Variables
***********************/
:root {
    --medium-grey-icons: #b1b1b1;
    --dark-grey-icons: #6b7376;
    --dark-grey-text: #8b9191;
    --light-grey-text: #b5c0d2;
    --border-light-grey: #e7e9e9;
}


/**********
Common
***********/

body {
    background: linear-gradient(to top, #dadbd3 85%, #009688 15%);
    font-family: 'Lato', sans-serif;
}

.display-none {
    display: none;
}

.pl10 {
    padding-left: .625rem;
}

.pl20 {
    padding-left: 1.25rem;
}

.pr10 {
    padding-right: .625rem;
}

.pr20 {
    padding-right: 1.25rem;
}

.mt15 {
    margin-top: .9375rem;
}

.mt10 {
    margin-top: .625rem
}

.b-font {
    font-size: 1rem;
    font-weight: 600;
}

.small-font {
    font-size: 12px;
    color: var(--light-grey-text);
}

.select-contact {
    background-color: #e9ebeb;

}

/**********
Main
***********/
#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100rem;
    background-color: lightblue;
    height: 95vh;
    display: flex;
    padding: 0;

}

/**********
Contacts
************/
.box-contacts {
    background-color: #fafafa;
    width: 560px;
    display: flex;
    flex-direction: column;
}

.header-contacts,
.header-chat {
    background-color: #eaeaea;
    height: 4.6875rem;
}

.header-contacts .user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.icons-user i,
.icons-chat i {
    padding: 0 .625rem;
    color: var(--medium-grey-icons);
    font-size: 23px;
}

.img-user img,
.img-chat-user img {
    width: 3.4375rem;
    border-radius: 50%;
    margin: .625rem 0;
}

/* Notification */
.notification {
    height: 5.3125rem;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: .625rem 1.25rem;
}

.active-notify {
    color: var(--dark-grey-text);
    text-decoration: underline;
    font-size: .875rem;
}

.bell {
    background-color: white;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bell i {
    font-size: 20px;
    color: #8edafc
}

/* Contact list */

.contacts-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: .625rem;
    border-radius: 5px;
    background-color: white;
    border: solid .0625rem var(--light-grey-text);
}

.search-bar i {
    padding: .625rem 1.25rem;
    border-right: solid .0625rem var(--light-grey-text);
    color: var(--medium-grey-icons);
}

#search-user {
    width: 100%;
    padding: .625rem 1.25rem;
    border-radius: 5px;
    border: none;
}

.contacts-list ul {
    width: 100%;
}

.contacts-list .contact {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--border-light-grey);
}

li {
    list-style: none;
}

.img-contact {
    display: flex;
    align-items: center;
}

.img-contact img {
    width: 4.0625rem;
    border-radius: 50%;
}

.text-contact {
    flex-grow: 1;
}

/**********
Chat room
************/
.chat-room {
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: 100%;
    border-left: solid 1px var(--medium-grey-icons);
}

.header-chat {

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-info {
    flex-grow: 1;
}

/* main chat */
.main-chat-container {
    height: calc(100% - 75px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding-top: 3.75rem;

}

.sent {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .625rem;
}

.received {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .625rem;
}

.msg-content {
    display: flex;
    flex-direction: column;
    padding: .625rem;

    min-width: 80px;
    border-radius: .625rem;
}

.sent .msg-content {
    background-color: #d5f9ba;
    margin-right: 6.5625rem;
}

.received .msg-content {
    background-color: #ffffff;
    margin-left: 6.5625rem;
}

.msg-time {
    text-align: end;
    padding-top: .3125rem;
}



/* footer chat */
.footer-chat {
    display: flex;
    align-items: center;
    height: 4.6875rem;
    background-color: #f3eeea;
}

.footer-chat .emoticon,
.footer-chat .msg-record {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5625rem;
}

.footer-chat .msg-input {
    flex-grow: 1;
}

.msg-input input {
    width: 100%;
    padding: .9375rem 1.25rem;
    border: none;
    border-radius: .3125rem;
}

.emoticon i,
.msg-record i {
    color: var(--dark-grey-icons);
    font-size: 1.4375rem;
}